.popup {
/*    display: none;*/
    font-family: silkscreennormal;
}

.popupFlex {
    width: 30%;
    margin: auto;

}

#popupForm{
    border: 2px solid black;
    border-radius: 20px;
    background-color: olive;
    height: 200px;
    width: 30%;
}

