
#anim{
    width: 100%;
    height: 400px;
}
#imgfond {
    width: 100%;
    height: 500px;
    background: url(../img/fond.jpg);
    position: relative;
    margin: 0 auto;
    -webkit-animation: fond 10s;
    animation: fond 10s infinite linear;
    overflow: hidden;
}


#avionComplete{
    z-index: 10;
    position: absolute;
    top: 400px;
    left: 250px;
    -webkit-transition: 0.1s;
    transition:0.01s;
}

.nezHaut{
	-webkit-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.nezBas{
    transform: rotate(20deg);
}
#oiseau{
    position: absolute;
    top: 0;
    left: 400px;
    z-index:2;
}

/* Helice */

#conteneurElis{
   z-index:9999;
   position:absolute;
   top:0;
   left:284px;

}
.rotationEli{
   animation: rotation 0.1s linear infinite;
}
@keyframes rotation{
   from { transform: rotateX(0deg)}
   to{transform:  rotateX(360deg)}

}