.arcade {
    font-family: silkscreennormal;
}

.popupFlex {
    width: 30%;
    margin: auto;

}

html{
    width: 100%;
}
section {
    width: 100%;
    height: auto;
}


#contenuPopupFin{
display: none;
}

