<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Cefii Plane (Back are BadAss)</title>
<!--    <link rel="stylesheet" href="View/cefiiPlane-front/css/reset.css">-->
    <link rel="stylesheet" href="View/cefiiPlane-front/css/style.css">
    <link rel="stylesheet" href="View/styles/styleStats.css">
    <meta name="viewport" content="width=device-width, initiale-scale=1" />


    <link rel="stylesheet" href="View/cefiiPlane-front/css/font/web_fonts/silkscreen_normal_macroman/stylesheet.css" type="text/css" charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="View/cefiiPlane-front/js/script.js"></script>
    <script src="View/cefiiPlane-front/js/ajax.js"></script>
    <script src="View/scripts/para.js"></script>

</head>

<body>
