<!DOCTYPE html>
<html lang="fr" >
<head>
    <link rel="stylesheet" href="View/styles/reset.css">
    <link rel="stylesheet" href="View/styles/main.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="scripts/main.js"></script>
	<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 5.0, user-scalable = yes">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
