body{
    background:slategray;
    font-family:Arial;
    text-align: center;
}

#boutons{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    margin-bottom:6rem;
}

#content1{
    width:60%;
}

canvas {
    background-color: white;
}

button {
    padding: 1rem 2rem;
}

table{
    margin: auto;
    width: 100%;
}

th{
    color:white;
    background:gray;
}

td
{
 height:3em;   
}