body{
    background:slategray;
    font-family:Arial;
    text-align: center;
}

#boutons{
<<<<<<< Updated upstream
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    margin-bottom:6rem;
=======
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-pack:distribute;
justify-content:space-around;
    margin-bottom:6em;
>>>>>>> Stashed changes
}

#content1{
    width:60%;
}

canvas {
    background-color: white;
}

button {
    padding: 1rem 2rem;
}

table{
    margin: auto;
    width: 100%;
}

th{
    color:white;
    background:gray;
}

td
{
 height:3em;   
<<<<<<< Updated upstream
=======
}

main{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
>>>>>>> Stashed changes
}